We need to transform the extracted data from VGchartz website into a cleaned data in this step. Following steps need to be in the transform phase
* Delete games without sales data

* Remove unwanted columns and rename the columns

* Add Release year column

* Convert Release date values to date format and Sales values to float format

* Write the transformed video games data into CSV file to be used for the Load process

The link for the extracted data is here - https://drive.google.com/file/d/1CWvgV4pLaMpJR2MmUnNdgbR7Gl4Sj5l5/view?usp=sharing

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd

Read Video Games Data from CSV

In [49]:
# Read games data from CSV file into Dataframe
games_df = pd.read_csv(r'C:\Users\kk\Desktop\sql_project\Extracted_video_games_data.csv')

In [50]:
# Checking the top 5 datasets 
games_df.head(5)

,Pos,Game,Game.1,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,1,NaN,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,04th Mar 20,Action
1,2,NaN,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
2,3,NaN,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,03rd Feb 20,Action
3,4,NaN,Dynasty Warriors,Series,Unknown,Omega Force,NaN,NaN,NaN,21.00m,NaN,NaN,NaN,NaN,NaN,NaN,24th Mar 20,Action
4,5,NaN,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,17th Sep 13,NaN,Action

In [36]:
# Check the dataset info
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58897 entries, 0 to 58896
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos             58897 non-null  int64
 1   Game            0 non-null      float64
 2   Game.1          58897 non-null  object
 3   Console         58897 non-null  object
 4   Publisher       58897 non-null  object
 5   Developer       58880 non-null  object
 6   VGChartz Score  1046 non-null   float64
 7   Critic Score    6549 non-null   float64
 8   User Score      395 non-null    float64
 9   Total Shipped   2909 non-null   object
 10  Total Sales     19193 non-null  object
 11  NA Sales        12831 non-null  object
 12  PAL Sales       13035 non-null  object
 13  Japan Sales     6890 non-null   object
 14  Other Sales     15360 non-null  object
 15  Release Date    55217 non-null  object
 16  Last Update     12737 non-null  object
 17  Genre           58897 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 8.1+ MB

Delete games without sales data

In [51]:
# Selecting only dataset having notnull values in Total Sales(delete only those rows where total shipped and total sales both are missing)
games_df1 = games_df.loc[games_df['Total Sales'].notnull()|games_df['NA Sales'].notnull()|games_df['PAL Sales'].notnull()\
                        |games_df['Japan Sales'].notnull()|games_df['Other Sales'].notnull()|games_df['Total Shipped'].notnull()]

In [52]:
games_df1

,Pos,Game,Game.1,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,1,NaN,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,04th Mar 20,Action
1,2,NaN,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
2,3,NaN,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,03rd Feb 20,Action
3,4,NaN,Dynasty Warriors,Series,Unknown,Omega Force,NaN,NaN,NaN,21.00m,NaN,NaN,NaN,NaN,NaN,NaN,24th Mar 20,Action
4,5,NaN,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,17th Sep 13,NaN,Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58688,232,NaN,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,07th Nov 18,Visual Novel
58689,233,NaN,Memories Off: Innocent File,NS,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,07th Nov 18,Visual Novel
58690,234,NaN,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,29th Mar 18,07th Apr 18,Visual Novel
58691,235,NaN,Disorder 6,X360,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,22nd Aug 13,02nd May 19,Visual Novel
58692,236,NaN,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,NaN,NaN,NaN,NaN,0.00m,NaN,0.00m,NaN,0.00m,23rd Oct 12,25th Apr 19,Visual Novel

In [53]:
# Now again Check the updated dataframe
games_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22102 entries, 0 to 58692
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos             22102 non-null  int64
 1   Game            0 non-null      float64
 2   Game.1          22102 non-null  object
 3   Console         22102 non-null  object
 4   Publisher       22102 non-null  object
 5   Developer       22098 non-null  object
 6   VGChartz Score  547 non-null    float64
 7   Critic Score    4878 non-null   float64
 8   User Score      275 non-null    float64
 9   Total Shipped   2909 non-null   object
 10  Total Sales     19193 non-null  object
 11  NA Sales        12831 non-null  object
 12  PAL Sales       13035 non-null  object
 13  Japan Sales     6890 non-null   object
 14  Other Sales     15360 non-null  object
 15  Release Date    21221 non-null  object
 16  Last Update     6003 non-null   object
 17  Genre           22102 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 3.2+ MB

Delete unwanted columns

Select only these columns :

'Pos', 'Game.1', 'Console', 'Publisher', 'Developer', 'VGChartz Score',
       'Critic Score', 'User Score', 'Total Shipped', 'Total Sales',
       'NA Sales', 'PAL Sales', 'Japan Sales', 'Other Sales', 'Release Date',
       'Genre'

In [54]:
# Drop the columns Game and Last update 
games_df1=games_df1.drop(['Game','Last Update'], axis=1)

In [55]:
games_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22102 entries, 0 to 58692
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos             22102 non-null  int64
 1   Game.1          22102 non-null  object
 2   Console         22102 non-null  object
 3   Publisher       22102 non-null  object
 4   Developer       22098 non-null  object
 5   VGChartz Score  547 non-null    float64
 6   Critic Score    4878 non-null   float64
 7   User Score      275 non-null    float64
 8   Total Shipped   2909 non-null   object
 9   Total Sales     19193 non-null  object
 10  NA Sales        12831 non-null  object
 11  PAL Sales       13035 non-null  object
 12  Japan Sales     6890 non-null   object
 13  Other Sales     15360 non-null  object
 14  Release Date    21221 non-null  object
 15  Genre           22102 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB

Rename columns

In [56]:
# Rename the column Game.1 as Game
games_df1.rename(columns = {"Game.1": "Game"},inplace = True)

In [57]:
games_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22102 entries, 0 to 58692
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos             22102 non-null  int64
 1   Game            22102 non-null  object
 2   Console         22102 non-null  object
 3   Publisher       22102 non-null  object
 4   Developer       22098 non-null  object
 5   VGChartz Score  547 non-null    float64
 6   Critic Score    4878 non-null   float64
 7   User Score      275 non-null    float64
 8   Total Shipped   2909 non-null   object
 9   Total Sales     19193 non-null  object
 10  NA Sales        12831 non-null  object
 11  PAL Sales       13035 non-null  object
 12  Japan Sales     6890 non-null   object
 13  Other Sales     15360 non-null  object
 14  Release Date    21221 non-null  object
 15  Genre           22102 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB

Add Release Year Column

In [44]:
# Defining the function for extracting year from Release Date
def year(row):
    yr= int(row.strip().split(' ')[2]) # Taking year apart from the Release Date
    if yr<=22: # Converting extracted year into decade
        return yr+2000
    else:
        return yr+1900
    return yr

In [58]:
games_df1 = games_df1.loc[games_df1['Release Date'].notnull()]

In [60]:
# Applying the above function on Release Date column and assinging it to new column name Release Year
games_df1["Release Year"]=games_df1.apply(lambda row: year(row['Release Date']),axis=1).copy()

In [61]:
games_df1

,Pos,Game,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Genre,Release Year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,17th Sep 13,Action,2013
5,6,Frogger,Series,Konami,Konami,NaN,NaN,NaN,20.00m,NaN,NaN,NaN,NaN,NaN,23rd Oct 81,Action,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58688,232,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,Visual Novel,2018
58689,233,Memories Off: Innocent File,NS,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18,Visual Novel,2018
58690,234,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,29th Mar 18,Visual Novel,2018
58691,235,Disorder 6,X360,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00m,NaN,NaN,0.00m,NaN,22nd Aug 13,Visual Novel,2013
58692,236,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,NaN,NaN,NaN,NaN,0.00m,NaN,0.00m,NaN,0.00m,23rd Oct 12,Visual Novel,2012

Convert Release date values to Date format (yyyy-mm-dd)

In [62]:
# Defining the function for formating Release Date into YYYY-MM-DD format
def dateformat(row):
    date_list = row.strip().split(' ') # Converting the date into list 
    date_list[0]=date_list[0][0:2] # Removing the suffix i.e. nd,st,rd,th from Date 
    new_date=pd.to_datetime("-".join(date_list)) # Now join the the updated list and make it datetime format
    formated_date = new_date.strftime("%Y-%m-%d") # Changing the datetime format
    return formated_date

In [63]:
# Updating the Release Date column values by applying above function
games_df1['Release Date']=games_df1.apply(lambda row: dateformat(row['Release Date']), axis=1)

In [64]:
games_df1.head(5)

,Pos,Game,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Genre,Release Year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,2005-03-22,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,1997-06-30,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,2001-10-16,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,2013-09-17,Action,2013
5,6,Frogger,Series,Konami,Konami,NaN,NaN,NaN,20.00m,NaN,NaN,NaN,NaN,NaN,1981-10-23,Action,1981

Convert Sales values to Float format

In [82]:
# Creating function to strip out character m from various sales columns 
def to_float(row):
    if type(row)==str: 
        float_value=float(row.replace(row[-1],'')) # Replacing m with empty value and converting it into float
    else:
        float_value=float(row)
    return float_value

In [77]:
# Apply 0 to Nan values
games_df1.fillna(value='0', inplace=True)

In [78]:
games_df1

,Pos,Game,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Genre,Release Year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,0.0,0.0,0.0,51.00m,0,0,0,0,0,2005-03-22,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,0.0,0.0,0.0,45.26m,0,0,0,0,0,1997-06-30,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,0.0,0.0,0.0,22.00m,0,0,0,0,0,2001-10-16,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,0.0,9.4,0.0,0,20.32m,6.37m,9.85m,0.99m,3.12m,2013-09-17,Action,2013
5,6,Frogger,Series,Konami,Konami,0.0,0.0,0.0,20.00m,0,0,0,0,0,1981-10-23,Action,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58688,232,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,0.0,0.0,0.0,0,0.00m,0,0,0.00m,0,2018-10-25,Visual Novel,2018
58689,233,Memories Off: Innocent File,NS,5pb,5pb. Games,0.0,0.0,0.0,0,0.00m,0,0,0.00m,0,2018-10-25,Visual Novel,2018
58690,234,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,0.0,0.0,0.0,0,0.00m,0,0,0.00m,0,2018-03-29,Visual Novel,2018
58691,235,Disorder 6,X360,5pb,5pb. Games,0.0,0.0,0.0,0,0.00m,0,0,0.00m,0,2013-08-22,Visual Novel,2013
58692,236,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,0.0,0.0,0.0,0,0.00m,0,0.00m,0,0.00m,2012-10-23,Visual Novel,2012

In [83]:
# Apply above created function on Total Sales 
games_df1['Total Sales']=games_df1.apply(lambda row: to_float(row['Total Sales']), axis=1)

In [84]:
# Apply above created function on NA Sales 
games_df1['NA Sales']=games_df1.apply(lambda row: to_float(row['NA Sales']), axis=1)

In [85]:
# Apply above created function on PAL Sales 
games_df1['PAL Sales']=games_df1.apply(lambda row: to_float(row['PAL Sales']), axis=1)

In [86]:
# Apply above created function on Japan Sales 
games_df1['Japan Sales']=games_df1.apply(lambda row: to_float(row['Japan Sales']), axis=1)

In [87]:
# Apply above created function on Other Sales 
games_df1['Other Sales']=games_df1.apply(lambda row: to_float(row['Other Sales']), axis=1)

In [89]:
# Apply above created function on Other Sales 
games_df1['Total Shipped']=games_df1.apply(lambda row: to_float(row['Total Shipped']), axis=1)

In [90]:
games_df1.head(5)

,Pos,Game,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Genre,Release Year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,0.0,0.0,0.0,51.00,0.00,0.00,0.00,0.00,0.00,2005-03-22,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,0.0,0.0,0.0,45.26,0.00,0.00,0.00,0.00,0.00,1997-06-30,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,0.0,0.0,0.0,22.00,0.00,0.00,0.00,0.00,0.00,2001-10-16,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,0.0,9.4,0.0,0.00,20.32,6.37,9.85,0.99,3.12,2013-09-17,Action,2013
5,6,Frogger,Series,Konami,Konami,0.0,0.0,0.0,20.00,0.00,0.00,0.00,0.00,0.00,1981-10-23,Action,1981

In [91]:
games_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21221 entries, 0 to 58692
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos             21221 non-null  int64
 1   Game            21221 non-null  object
 2   Console         21221 non-null  object
 3   Publisher       21221 non-null  object
 4   Developer       21221 non-null  object
 5   VGChartz Score  21221 non-null  float64
 6   Critic Score    21221 non-null  float64
 7   User Score      21221 non-null  float64
 8   Total Shipped   21221 non-null  float64
 9   Total Sales     21221 non-null  float64
 10  NA Sales        21221 non-null  float64
 11  PAL Sales       21221 non-null  float64
 12  Japan Sales     21221 non-null  float64
 13  Other Sales     21221 non-null  float64
 14  Release Date    21221 non-null  object
 15  Genre           21221 non-null  object
 16  Release Year    21221 non-null  int64
dtypes: float64(9), int64(2), object(6)
memory usage: 2.9+ MB

Load transformed data to csv file

In [93]:
# Set csv file path
games_df1.to_csv(r'C:\Users\kk\Desktop\sql_project\Transformed_video_games_data.csv', index=None)